spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: recipe-service
              uri: http://recipe:4001
              predicates:
                - Path=/recipes/**, /labels/**
              filters:
                - name: RequestRateLimiter
                  args:
                    key-resolver: "#{@tokenKeyResolver}"
                    redis-rate-limiter.replenishRate: 5
                    redis-rate-limiter.burstCapacity: 10
  redis:
    host: redis
    port: 6379
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/munchies
