name: Integration Tests

on:
  push:

jobs:
  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Run integration tests in file module
        run: ./gradlew :file:test --tests "org.munchies.controller.*"

      - name: Run integration tests in recipe module
        run: ./gradlew :recipe:test --tests "org.munchies.controller.*"

      - name: Upload reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: integration-test-report
          path: |
            file/build/reports/tests/
            recipe/build/reports/tests/
          retention-days: 14
