name: Integration Tests

on:
  push:
  workflow_dispatch:

jobs:
  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Run integration tests in file module
        run: ./gradlew clean :file:test --tests "org.munchies.controller.FileControllerTest"

      - name: Run integration tests in recipe module
        run: ./gradlew clean :recipe:test --tests "org.munchies.controller.*"
