logging:
  level:
    org:
      springframework:
        web: DEBUG

spring:
  r2dbc:
    initialization-mode: never
  flyway:
    enabled: true
    baselineOnMigrate: true
  s3:
    path-style-access: true
    aws:
      region: us-east-1
      credentials:
        type: static